.body {
  background-color: lightblue;
}
.header {
  display: flex;
  justify-content: center;
  background-color: lightpink;
  height: 100px;
  justify-content: center;
  align-items: center;

}

.header2 {
  display: flex;
  justify-content: center;
  background-color: lightseagreen;
  justify-content: center;
  align-items: center;
  height: 60px;

}

.headerText {
color: blueviolet;
font-size: 58pt;
}

.rowTitle {
  background-color: lightsalmon;
  padding-bottom: 3%;
}
.rowForm {
  background-color: lightsalmon;
  margin-bottom: 4%;
}
.rowForm2 {
  background-color: lightsalmon;
  margin-bottom: 4%;
}

.checkResults {
  align-items: center;
  justify-content: center;
  align-self: center;

}