.body {
  background-color: lightblue;
}
.header {
  display: flex;
  justify-content: center;
  background-color: lightpink;
  height: 100px;
  justify-content: center;
  align-items: center;

}

.header2 {
  display: flex;
  justify-content: center;
  background-color: lightseagreen;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: lemonchiffon;

}

.headerText {
color: blueviolet;
font-size: 58pt;
}

.rowTitle {
  background-color: lightsalmon;
  padding-bottom: 3%;
}
.rowForm {
  background-color: lightsalmon;
  margin-bottom: 4%;
}
.rowForm2 {
  background-color: lightsalmon;
  margin-bottom: 4%;
}

.rowForm3 {
  background-color: lightpink;
  margin-bottom: 4%;
  justify-content: center;
  align-items: center;

}
.rowForm4 {
  background-color: lightcoral;
  margin-bottom: 4%;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.checkResults {
  align-items: center;
  justify-content: center;
  align-self: center;

}

.title2 {
  font-weight: bold;
  }

  .img {
    max-width: 100%;
  }